/*

[Custom Stylesheet]

Project     : SociFly - Multipurpose Social Network HTML5 Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/

div.dropdownn {
    color: #555;
    /* margin: 3px -22px 0 0; */
    width: 143px;
    position: relative;
    height: 17px;
    text-align:left;
    }
    div.submenu
    {
    position: absolute;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    }
    .dropdownn  li a {
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
    }
    .dropdownn li a:hover{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
    }
    a.account {
    font-size: 11px;
    line-height: 16px;
    color: #555;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 11px 0 0 20px;
    height: 28px;
    width: 121px;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    background: url(images/arrow.png) 80px 32px no-repeat;
    cursor:pointer;
    }
    .root
    {
    list-style: none;
    font-size: 11px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
    background: #fff;
    padding: 10px 0 10px 0;
    border-radius: 5px 5px 5px 5px;
    margin: 21px 0 0 0;
    }
    .root:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: #ffffff;
    position: absolute;
    color: #ffffff;
    top: 54px;
    left: 17px;
    }
    .profile-circle {
    width: 45px;
    height: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    }

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
    }
 input[class*=error] {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    }
 input[class*=error]:focus {
    background-color: #fce4e4;
    border: 1px solid #cc0033;
    }



    .design-process-section .text-align-center {
      line-height: 25px;
      margin-bottom: 12px;
  }
  .design-process-content {
      border: 1px solid #e9e9e9;
      position: relative;
      padding: 16px 34% 30px 30px;
  }
  .design-process-content img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      max-height: 100%;
  }
  .design-process-content h3 {
      margin-bottom: 16px;
  }
  .design-process-content p {
      line-height: 26px;
      margin-bottom: 12px;
  }
  .process-model {
      list-style: none;
      padding: 0;
      position: relative;
      max-width: 600px;
      margin: 20px auto 26px;
      border: none;
      z-index: 0;
  }
  .process-model li::after {
      background: #e5e5e5 none repeat scroll 0 0;
      bottom: 0;
      content: "";
      display: block;
      height: 4px;
      margin: 0 auto;
      position: absolute;
      right: -30px;
      top: 33px;
      width: 85%;
      z-index: -1;
  }
  .process-model li.visited::after {
      background: #0ba2ff;
  }
  .process-model li:last-child::after {
      width: 0;
  }
  .process-model li {
      display: inline-block;
      width: 18%;
      text-align: center;
      float: none;
  }
  .nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
      border: none;
      background: transparent;
  
  }
  .process-model li a {
      padding: 0;
      border: none;
      color: #606060;
  }
  .process-model li.active,
  .process-model li.visited {
      color: #0ba2ff;
  }
  .process-model li.active a,
  .process-model li.active a:hover,
  .process-model li.active a:focus,
  .process-model li.visited a,
  .process-model li.visited a:hover,
  .process-model li.visited a:focus {
      color: #0ba2ff;
  }
  .process-model li.active p,
  .process-model li.visited p {
      font-weight: 600;
  }
  .process-model li i {
      display: block;
      height: 68px;
      width: 68px;
      text-align: center;
      margin: 0 auto;
      background: #f5f6f7;
      border: 2px solid #e5e5e5;
      line-height: 65px;
      font-size: 30px;
      border-radius: 50%;
  }
  .process-model li.active i, .process-model li.visited i  {
      background: #fff;
      border-color: #0ba2ff;
  }
  .process-model li p {
      font-size: 14px;
      margin-top: 11px;
  }
  .process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
      color: #606060!important;
      font-weight: normal
  }
  .process-model.contact-us-tab li::after  {
      display: none; 
  }
  .process-model.contact-us-tab li.visited i {
      border-color: #e5e5e5; 
  }
  
  
  
  @media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
          font-size: 23px;
          height: 50px;
          line-height: 46px;
          width: 50px;
      }
      .more-icon-preocess.process-model li::after {
          top: 24px;
      }
  }
  @media screen and (max-width: 380px) { 
      .process-model.more-icon-preocess li {
          width: 16%;
      }
      .more-icon-preocess.process-model li span {
          font-size: 16px;
          height: 35px;
          line-height: 32px;
          width: 35px;
      }
      .more-icon-preocess.process-model li p {
          font-size: 8px;
      }
      .more-icon-preocess.process-model li::after {
          top: 18px;
      }
      .process-model.more-icon-preocess {
          text-align: center;
      }
  }

  .profile-circle{
    height: 30px;
    width: 37px;
  }

  @media screen and (max-width: 768px) {
    .profile-circle{
      height: 45px;
      width: 45px;
    }
  }



.img-wrapper
{
	width: 280px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
    .img-wrapper{
      width: 100%;
    }
    .description{
        margin-bottom: 20px !important;
    }
  }


.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.07);
}

.img-wrapper h2
{
	background: #000;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}

.description{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    color: #606060;
    background:#eeeeee;
    border:1px solid #cccccc;
    padding:5px 10px;
}

  .modal-close {
    color: #aaa;
  }
  .modal-close:hover {
    color: black;
  }
  .display-comment .display-comment {
    margin-left: 40px
}

.exp{
    margin-bottom: 10px;
    margin-top: 10px;
}

.bottom{
    margin-bottom: 10px;
}
.select2 {
    width: 100% !important;
}